.result-card {
    background-color: ivory;
    opacity: 70%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    overflow-y: scroll;

}

.primary-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.address-info {
  height: 100%;
  width: 100%;
  text-align: center;
}

.restroom-icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.restroom-icons > img {
  width: 30%;
  height: 30%;
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 0%;
  align-items: center;
}

.directions {
  font-style: italic;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 1px;
}

.bottom-half {
  display: grid;
  grid-template-rows: 1fr 1/10fr;
}
